@font-face {
  font-family: rosemary;
  src: url('./font/DroidSans.ttf');
}
body {
  margin: 0;
  font-family: rosemary;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

